.idea
.env
.directory
.cache
env*
venv*
testenv
local_settings.py
__pycache__
*.pyc
*.sql
*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.DS_Store
.Python
.coverage
.coverage.*
.idea
.installed.cfg
.noseids
.tox
.vimrc
build
develop-eggs
dist
eggs
pyvenv
var/*
virtualenv.py
.develop
.gitconfig
.python-version
.pytest_cache/